openapi: 3.0.0
info:
  title: awork API
  version: 1.3.0
  description: This is the API documentation for awork.
  termsOfService: https://www.awork.com/legal-and-privacy/privacy-policy-awork-app
  contact:
    name: awork Support
    url: https://support.awork.com
    email: support@awork.com
servers:
  - url: https://api.awork.com/api/v1
    description: awork Production
paths:
  /absences:
    get:
      tags:
        - Absences
      summary: Returns all absences.
      description: "Admin or user planning data permissions are required, \r\notherwise only the absences of the current user are returned."
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/filterby'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Absence'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
    post:
      tags:
        - Absences
      summary: Creates a new absence.
      description: "User planning data permissions are required if the calling user\r\nis not the owner of the absence or admin.\r\nThe startOn and endOn get rounded to 00:00:00, 12:00:00, or 23:59:59 in UTC.\r\nThese values can be used to set a half-day (pre or post mid-day) absence, or absences that start or end at mid-day.\r\nThe end date needs to be the same or after the start date."
      requestBody:
        description: The absence to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbsenceForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AbsenceForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Absence'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
  /absences/{absenceId}:
    get:
      tags:
        - Absences
      summary: Returns the absence with the specified id.
      description: "User planning data permissions are required if the calling user\r\nis not the owner of the absence or admin."
      parameters:
        - name: absenceId
          in: path
          description: The id of the absence to get.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Absence'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
    put:
      tags:
        - Absences
      summary: Updates the absence with the specified id.
      description: "User planning data permissions are required if the calling user\r\nis not the owner of the absence or admin.\r\nThe startOn and endOn get rounded to 00:00:00, 12:00:00, or 23:59:59 in UTC.\r\nThese values can be used to set a half-day (pre or post mid-day) absence, or absences that start or end at mid-day.\r\nThe end date needs to be the same or after the start date."
      parameters:
        - name: absenceId
          in: path
          description: The id of the absence to update.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The model with the updated values.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbsenceForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AbsenceForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Absence'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
    delete:
      tags:
        - Absences
      summary: Deletes the absence with the specified id.
      description: "User planning data permissions are required if the calling user\r\nis not the owner of the absence or admin."
      parameters:
        - name: absenceId
          in: path
          description: The id of the absence to delete.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No Content
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
  /accounts/{accountId}:
    put:
      tags:
        - Accounts
      summary: Updates the account with the specified id.
      description: "Updates the account with the specified id.\r\nDoes not update the external account of the user.\r\nUse the 'accounts/connectToSocialAccount' or 'accounts/disconnectToSocialAccount' endpoints instead."
      parameters:
        - name: accountId
          in: path
          description: The id of the account.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The model to update the account.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AccountForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /apiusers:
    post:
      tags:
        - ApiUsers
      summary: Creates a new API user.
      description: "Creates a new API user.\r\nBeware: API users will also be returned in the /users response when including\r\narchived users."
      requestBody:
        description: The API user to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiUserPostForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiUserPostForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUser'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-workspace-manage-config:
        - read
  /apiusers/{apiUserId}:
    put:
      tags:
        - ApiUsers
      summary: Updates the API user with the specified id.
      description: Updates the API user with the specified id.
      parameters:
        - name: apiUserId
          in: path
          description: The id of the API user.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The new API user values.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiUserForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiUserForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUser'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-workspace-manage-config:
        - read
    delete:
      tags:
        - ApiUsers
      summary: Deletes the API user with the specified id.
      description: Deletes the API user with the specified id.
      parameters:
        - name: apiUserId
          in: path
          description: The id of the API user.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No Content
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-workspace-manage-config:
        - read
  /users/{userId}/tasks/tags:
    get:
      tags:
        - AssignedTasks
      summary: "Returns all tags the user is allowed to see.\r\nYou can filter the tags by task model query constraints."
      description: "Returns all tags from the available tasks of the user ordered by name.\r\nThe user making the request needs to be assigned to the task or needs\r\nread permissions on the feature \"project-planning-data\" for project tasks or\r\nread permissions on the \"entity-master-data\" of the entity of the task."
      parameters:
        - name: userId
          in: path
          description: The id of the user. Not required on the me/ endpoint.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BaseTagModel'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /me/tasks/tags:
    get:
      tags:
        - AssignedTasks
      summary: "Returns all tags the user is allowed to see.\r\nYou can filter the tags by task model query constraints."
      description: "Returns all tags from the available tasks of the user ordered by name.\r\nThe user making the request needs to be assigned to the task or needs\r\nread permissions on the feature \"project-planning-data\" for project tasks or\r\nread permissions on the \"entity-master-data\" of the entity of the task."
      parameters:
        - name: userId
          in: query
          description: The id of the user. Not required on the me/ endpoint.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BaseTagModel'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /users/{userId}/assignedtasks/{taskId}:
    get:
      tags:
        - AssignedTasks
      summary: Returns the assigned task with the specified id.
      parameters:
        - name: userId
          in: path
          description: The id of the user. Not required on the /me endpoint.
          required: true
          schema:
            type: string
            format: uuid
        - name: taskId
          in: path
          description: The id of the task.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskModel'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /me/assignedtasks/{taskId}:
    get:
      tags:
        - AssignedTasks
      summary: Returns the assigned task with the specified id.
      parameters:
        - name: userId
          in: query
          description: The id of the user. Not required on the /me endpoint.
          schema:
            type: string
            format: uuid
        - name: taskId
          in: path
          description: The id of the task.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskModel'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /users/{userId}/assignedtasks:
    get:
      tags:
        - AssignedTasks
      summary: Returns all tasks assigned to the user.
      description: "Returns all tasks assigned to a user.\r\nIf a user gets his own tasks, the private tasks are part of the result as well.\r\nIf you need only tasks of projects in status 'progress', set the 'inProgress' parameter to 'true'.\r\nThe assigned on from and to parameters are optional, but both must be provided if you want to use the filter."
      parameters:
        - name: userId
          in: path
          description: The id of the user. Not required on the /me endpoint.
          required: true
          schema:
            type: string
            format: uuid
        - name: inProgress
          in: query
          description: Whether the project of a task is in progress or not.
          schema:
            type: boolean
            default: false
        - name: assignedOnFrom
          in: query
          description: "The value to filter the task assignments for. If this value is set, tasks are returned\r\nonly when the assignment date for the provided userId is greater or equal."
          schema:
            type: string
            format: date-time
        - name: assignedOnTo
          in: query
          description: "The value to filter the task assignments for. If this value is set, tasks are returned only\r\nwhen the assignment date for the provided userId is less or equal."
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/filterby'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskModel'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /me/assignedtasks:
    get:
      tags:
        - AssignedTasks
      summary: Returns all tasks assigned to the user.
      description: "Returns all tasks assigned to a user.\r\nIf a user gets his own tasks, the private tasks are part of the result as well.\r\nIf you need only tasks of projects in status 'progress', set the 'inProgress' parameter to 'true'.\r\nThe assigned on from and to parameters are optional, but both must be provided if you want to use the filter."
      parameters:
        - name: userId
          in: query
          description: The id of the user. Not required on the /me endpoint.
          schema:
            type: string
            format: uuid
        - name: inProgress
          in: query
          description: Whether the project of a task is in progress or not.
          schema:
            type: boolean
            default: false
        - name: assignedOnFrom
          in: query
          description: "The value to filter the task assignments for. If this value is set, tasks are returned\r\nonly when the assignment date for the provided userId is greater or equal."
          schema:
            type: string
            format: date-time
        - name: assignedOnTo
          in: query
          description: "The value to filter the task assignments for. If this value is set, tasks are returned only\r\nwhen the assignment date for the provided userId is less or equal."
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/filterby'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskModel'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /users/{userId}/allavailabletasks:
    get:
      tags:
        - AssignedTasks
      summary: Returns all tasks the user is allowed to see.
      description: "Returns all tasks the user is allowed to see. This contains\r\nproject tasks if the user has \"project-planning\" permissions,\r\nall assigned tasks and also\r\nprivate tasks created by the user and assigned to other users."
      parameters:
        - name: userId
          in: path
          description: The id of the user. Not required on the /me endpoint.
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/filterby'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskModel'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /me/allavailabletasks:
    get:
      tags:
        - AssignedTasks
      summary: Returns all tasks the user is allowed to see.
      description: "Returns all tasks the user is allowed to see. This contains\r\nproject tasks if the user has \"project-planning\" permissions,\r\nall assigned tasks and also\r\nprivate tasks created by the user and assigned to other users."
      parameters:
        - name: userId
          in: query
          description: The id of the user. Not required on the /me endpoint.
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/filterby'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskModel'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /projects/{projectId}/autopilot:
    get:
      tags:
        - Autopilot
      summary: Returns the autopilot of the project with the specified id.
      description: "Returns NoContent if the project does not have an autopilot setup.\r\nTo get the autopilot data the user needs to be the owner of the project or\r\nmust have 'read' permissions of the feature 'project-master-data' globally or in his project role."
      parameters:
        - name: projectId
          in: path
          description: The id of the project.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Autopilot'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
    post:
      tags:
        - Autopilot
      summary: Creates a new autopilot for the project with the specified id.
      description: "Creates a new autopilot for the project with the specified id.\r\nAlso creates and enables all alerts for the new autopilot.\r\nFor this action, the user needs to be the owner of the project or must have 'read' permissions\r\nof the feature 'project-master-data' globally or in his project role."
      parameters:
        - name: projectId
          in: path
          description: The id of the project.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The model used to create the autopilot.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutopilotPostForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AutopilotPostForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Autopilot'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
    put:
      tags:
        - Autopilot
      summary: Updates the autopilot of the project with the specified id.
      description: "Updates the autopilot of the project with the specified id.\r\nTo access and modify the autopilot data the user needs to be the owner of the project or\r\nmust have 'read' permissions of the feature 'project-master-data' globally or in his project role."
      parameters:
        - name: projectId
          in: path
          description: The id of the project.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The model used to update the autopilot.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutopilotPutForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AutopilotPutForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Autopilot'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
    delete:
      tags:
        - Autopilot
      summary: Deletes the autopilot of the project with the specified id.
      description: "Deletes the autopilot of the project with the specified id.\r\nTo access and modify the autopilot data the user needs to be the owner of the project or\r\nmust have 'read' permissions of the feature 'project-master-data' globally or in his project role."
      parameters:
        - name: projectId
          in: path
          description: The id of the project.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Autopilot'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /autopilot/{autopilotId}:
    get:
      tags:
        - Autopilot
      summary: Returns the autopilot with the specified id.
      description: "Returns the autopilot including its alerts.\r\nTo get the autopilot data the user needs to be the owner of the project or 'read' permissions\r\nof the feature 'project-master-data' globally or in his project role."
      parameters:
        - name: autopilotId
          in: path
          description: The id of the autopilot.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Autopilot'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /autopilot/availablealerts:
    get:
      tags:
        - Autopilot
      summary: Returns all available alerts for autopilots.
      description: Returns all available alerts for autopilots.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - behind_schedule
                - overdue
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /tasks/{taskId}/checklistitems/tosubtasks:
    post:
      tags:
        - ChecklistItems
      summary: Convert all the checklist items of the specified task to subtasks.
      description: ''
      parameters:
        - name: taskId
          in: path
          description: The id of the task containing the checklist items to convert.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /tasks/{taskId}/checklistitems:
    get:
      tags:
        - ChecklistItems
      summary: Returns the checklist items for a task with the specified id.
      description: "The required permissions depend on the base type of the task.\r\nIf the task is a project task, either 'read' permissions on the 'project-planning-data' feature are required or the\r\nuser needs to be assigned.\r\nFor a user's private task, no special permissions are required."
      parameters:
        - name: taskId
          in: path
          description: The id of the task.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChecklistItem'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
    post:
      tags:
        - ChecklistItems
      summary: Creates a checklist item for a task with the specified id.
      description: "The required permissions depend on the base type of the task.\r\nIf the task is a project task, either 'write' permissions on the 'project-master-data' feature are required or the user\r\nneeds to be assigned.\r\nFor a user's private task, no special permissions are required."
      parameters:
        - name: taskId
          in: path
          description: The id of the task.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The model to create the checklist item.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChecklistItemForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ChecklistItemForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecklistItem'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /tasks/{taskId}/checklistitems/{checklistItemId}:
    get:
      tags:
        - ChecklistItems
      summary: Returns the checklist item for a task with the specified id.
      description: "The required permissions depend on the base type of the task.\r\nIf the task is a project task, either 'read' permissions on the 'project-planning-data' feature are required or the\r\nuser needs to be assigned.\r\nFor a user's private task, no special permissions are required."
      parameters:
        - name: taskId
          in: path
          description: The id of the task.
          required: true
          schema:
            type: string
            format: uuid
        - name: checklistItemId
          in: path
          description: The id of the checklist item.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecklistItem'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
    put:
      tags:
        - ChecklistItems
      summary: Updates a checklist item for a task with the specified id.
      description: "The required permissions depend on the base type of the task.\r\nIf the task is a project task, either 'write' permissions on the 'project-master-data' feature are required or the user\r\nneeds to be assigned.\r\nFor a user's private task, no special permissions are required."
      parameters:
        - name: taskId
          in: path
          description: The id of the task.
          required: true
          schema:
            type: string
            format: uuid
        - name: checklistItemId
          in: path
          description: The id of the checklist item.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The model to update the checklist item.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChecklistItemForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ChecklistItemForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecklistItem'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
    delete:
      tags:
        - ChecklistItems
      summary: Deletes a checklist item for a task with the specified id.
      description: "The required permissions depend on the base type of the task.\r\nIf the task is a project task, either 'write' permissions on the 'project-master-data' feature are required or the user\r\nneeds to be assigned.\r\nFor a user's private task, no special permissions are required."
      parameters:
        - name: taskId
          in: path
          description: The id of the task.
          required: true
          schema:
            type: string
            format: uuid
        - name: checklistItemId
          in: path
          description: The id of the checklist item.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No Content
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /projects/{projectId}/projecttasks/{taskId}/checklistitems:
    get:
      tags:
        - ChecklistItems
      summary: Returns the checklist items for a project task with the specified id.
      description: "To retrieve the checklist items of a project task either 'read' permissions on the 'project-planning-data' feature are\r\nrequired or the user needs to be assigned."
      parameters:
        - name: projectId
          in: path
          description: The id of the project.
          required: true
          schema:
            type: string
            format: uuid
        - name: taskId
          in: path
          description: The id of the task.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChecklistItem'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /projects/{projectId}/projecttasks/{taskId}/checklistitems/{checklistItemId}:
    get:
      tags:
        - ChecklistItems
      summary: Returns a checklist item for a project task with the specified id.
      description: "To retrieve the checklist item of a project task either 'read' permissions on the 'project-planning-data' feature are\r\nrequired\r\nor the user needs to be assigned."
      parameters:
        - name: projectId
          in: path
          description: The id of the project.
          required: true
          schema:
            type: string
            format: uuid
        - name: taskId
          in: path
          description: The id of the task.
          required: true
          schema:
            type: string
            format: uuid
        - name: checklistItemId
          in: path
          description: The id of the checklist item.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecklistItem'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /users/{userId}/privatetasks/{taskId}/checklistitems:
    get:
      tags:
        - ChecklistItems
      summary: Returns the checklist for a private task with the specified id.
      description: The user needs to be assigned to the task.
      parameters:
        - name: userId
          in: path
          description: The id of the user. Not required when using the /me route.
          required: true
          schema:
            type: string
            format: uuid
        - name: taskId
          in: path
          description: The id of the task.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChecklistItem'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /me/privatetasks/{taskId}/checklistitems:
    get:
      tags:
        - ChecklistItems
      summary: Returns the checklist for a private task with the specified id.
      description: The user needs to be assigned to the task.
      parameters:
        - name: userId
          in: query
          description: The id of the user. Not required when using the /me route.
          schema:
            type: string
            format: uuid
        - name: taskId
          in: path
          description: The id of the task.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChecklistItem'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /users/{userId}/privatetasks/{taskId}/checklistitems/{checklistItemId}:
    get:
      tags:
        - ChecklistItems
      summary: Returns a checklist item for a private task with the specified id.
      description: The user needs to be assigned to the task.
      parameters:
        - name: userId
          in: path
          description: The id of the user. Not required when using the /me route.
          required: true
          schema:
            type: string
            format: uuid
        - name: taskId
          in: path
          description: The id of the task.
          required: true
          schema:
            type: string
            format: uuid
        - name: checklistItemId
          in: path
          description: The id of the checklist item.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecklistItem'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /me/privatetasks/{taskId}/checklistitems/{checklistItemId}:
    get:
      tags:
        - ChecklistItems
      summary: Returns a checklist item for a private task with the specified id.
      description: The user needs to be assigned to the task.
      parameters:
        - name: userId
          in: query
          description: The id of the user. Not required when using the /me route.
          schema:
            type: string
            format: uuid
        - name: taskId
          in: path
          description: The id of the task.
          required: true
          schema:
            type: string
            format: uuid
        - name: checklistItemId
          in: path
          description: The id of the checklist item.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecklistItem'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /users/{userId}/otherprivatetasks/{taskId}/checklistitems:
    get:
      tags:
        - ChecklistItems
      summary: Returns the checklist items for a private task with the specified id.
      description: The user needs to be the creator of the task.
      parameters:
        - name: userId
          in: path
          description: The id of the user. Not required when using the /me route.
          required: true
          schema:
            type: string
            format: uuid
        - name: taskId
          in: path
          description: The id of the task.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChecklistItem'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /me/otherprivatetasks/{taskId}/checklistitems:
    get:
      tags:
        - ChecklistItems
      summary: Returns the checklist items for a private task with the specified id.
      description: The user needs to be the creator of the task.
      parameters:
        - name: userId
          in: query
          description: The id of the user. Not required when using the /me route.
          schema:
            type: string
            format: uuid
        - name: taskId
          in: path
          description: The id of the task.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChecklistItem'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /users/{userId}/otherprivatetasks/{taskId}/checklistitems/{checklistItemId}:
    get:
      tags:
        - ChecklistItems
      summary: Returns a checklist item for a private task with the specified id.
      description: The user needs to be the creator of the task.
      parameters:
        - name: userId
          in: path
          description: The id of the user. Not required when using the /me route.
          required: true
          schema:
            type: string
            format: uuid
        - name: taskId
          in: path
          description: The id of the task.
          required: true
          schema:
            type: string
            format: uuid
        - name: checklistItemId
          in: path
          description: The id of the checklist item.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecklistItem'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /me/otherprivatetasks/{taskId}/checklistitems/{checklistItemId}:
    get:
      tags:
        - ChecklistItems
      summary: Returns a checklist item for a private task with the specified id.
      description: The user needs to be the creator of the task.
      parameters:
        - name: userId
          in: query
          description: The id of the user. Not required when using the /me route.
          schema:
            type: string
            format: uuid
        - name: taskId
          in: path
          description: The id of the task.
          required: true
          schema:
            type: string
            format: uuid
        - name: checklistItemId
          in: path
          description: The id of the checklist item.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecklistItem'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /clientapplications:
    get:
      tags:
        - ClientApplications
      summary: Returns all client applications.
      description: Returns all client applications.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientApplication'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-workspace-manage-config:
        - read
    post:
      tags:
        - ClientApplications
      summary: Registers a new client application.
      description: Registers a new client application.
      requestBody:
        description: The client application model.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientApplicationCreateForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientApplicationCreateResponse'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-workspace-manage-config:
        - write
  /clientapplications/{clientId}:
    get:
      tags:
        - ClientApplications
      summary: Returns the client application with the specified id.
      description: Returns the client application with the specified id.
      parameters:
        - name: clientId
          in: path
          description: The id of the client application.
          required: true
          schema:
            type: string
          example: googlesheet
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientApplication'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-workspace-manage-config:
        - read
    put:
      tags:
        - ClientApplications
      summary: Updates the client application with the specified id.
      description: Updates the client application with the specified id.
      parameters:
        - name: clientId
          in: path
          description: The id of the client application.
          required: true
          schema:
            type: string
          example: integration
      requestBody:
        description: The client application model.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientApplicationUpdateForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientApplication'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-workspace-manage-config:
        - write
    delete:
      tags:
        - ClientApplications
      summary: Deletes the specified client application.
      description: Deletes the specified client application.
      parameters:
        - name: clientId
          in: path
          description: The id of the client application.
          required: true
          schema:
            type: string
          example: googlesheet
      responses:
        '204':
          description: No Content
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-workspace-manage-config:
        - write
  /clientapplications/{clientId}/generatesecret:
    post:
      tags:
        - ClientApplications
      summary: Generates a new secret for the specified client application.
      description: Generates a new secret for the specified client application.
      parameters:
        - name: clientId
          in: path
          description: The id of the client application.
          required: true
          schema:
            type: string
          example: googlesheet
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientApplicationGeneratePasswordResponse'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-workspace-manage-config:
        - write
  /clientapplications/{clientId}/generateapikey:
    post:
      tags:
        - ClientApplications
      summary: Generates an API key for the specified client application.
      description: "Generates an API key for the specified client application.\r\nRequires an API user."
      parameters:
        - name: clientId
          in: path
          description: The id of the client application.
          required: true
          schema:
            type: string
          example: googlesheet
      requestBody:
        description: The model to generate an API key.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientApplicationApiKeyForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ClientApplicationApiKeyForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-workspace-manage-config:
        - read
  /comments/{commentId}/files/{fileId}:
    get:
      tags:
        - CommentFiles
      summary: >-
        Returns the file with the specified id of the comment with the specified
        id.
      description: Returns the file metadata of the comment with the specified id.
      parameters:
        - name: commentId
          in: path
          description: The id of the comment.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
    put:
      tags:
        - CommentFiles
      summary: Updates the metadata of the comment file with the specified id.
      description: Updates the metadata of the comment file with the specified id.
      parameters:
        - name: commentId
          in: path
          description: The id of the comment.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The model to update the file with the specified id.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileInfoUpdateForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FileInfoUpdateForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
    delete:
      tags:
        - CommentFiles
      summary: Deletes the comment file with the specified id.
      description: Deletes the metadata and the different versions of the file.
      parameters:
        - name: commentId
          in: path
          description: The id of the comment.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No Content
  /comments/{commentId}/files:
    get:
      tags:
        - CommentFiles
      summary: Returns all files of the comment with the specified id.
      description: Returns all file metadata of the comment with the specified id.
      parameters:
        - name: commentId
          in: path
          description: The id of the comment.
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/filterby'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileInfo'
    post:
      tags:
        - CommentFiles
      summary: Creates a new comment file for the comment with the specified id..
      description: "Uploads a new comment file for the comment with the specified id.\r\nUse this to upload a file as a form value along with the basic file meta data.\r\nThe file size must not exceed 1GB."
      parameters:
        - name: commentId
          in: path
          description: The id of the comment.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - File
              type: object
              properties:
                File:
                  type: string
                  format: binary
            encoding:
              File:
                style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
        '400':
          description: Bad Request
    delete:
      tags:
        - CommentFiles
      summary: Deletes the files of the specified comment.
      description: Deletes the metadata and the different versions of the files.
      parameters:
        - name: commentId
          in: path
          description: The id of the comment.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No Content
  /comments/{commentId}/externalfiles:
    post:
      tags:
        - CommentFiles
      summary: Endpoint to batch create external files without uploading.
      description: "Endpoint to create file infos with batch operation.\r\nCreated file infos don't have a version."
      parameters:
        - name: commentId
          in: path
          description: The id of the comment.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: List of file forms.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ExternalFileForm'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ExternalFileForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
  /comments/{commentId}/files/byurl:
    post:
      tags:
        - CommentFiles
      summary: Uploads a new file by providing an url.
      description: "The file needs to be a public available url.\r\nThe file size must not exceed 100MB."
      parameters:
        - name: commentId
          in: path
          description: The id of the comment the file is linked to.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The url, name and description of the file.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilePostForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FilePostForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
  /comments/{commentId}/files/{fileId}/download:
    get:
      tags:
        - CommentFiles
      summary: Returns the content of the comment file with the specified id.
      description: "Returns the content of the comment file. Uses the latest file version.\r\nIf the comment file is an image and the width and height are set,\r\nthe image will resized before it is returned."
      parameters:
        - name: commentId
          in: path
          description: The id of the comment.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
        - name: width
          in: query
          description: Set width to resize.
          schema:
            type: number
            format: double
        - name: height
          in: query
          description: Set height to resize.
          schema:
            type: number
            format: double
        - name: crop
          in: query
          description: Whether to crop the image when resizing it.
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                format: binary
  /comments/{commentId}/files/{fileId}/pdf:
    get:
      tags:
        - CommentFiles
      summary: "Returns the content of the file with the specified id as pdf.\r\ntype or conversion not possible."
      description: Returns the content of the comment file. Uses the latest file version.
      parameters:
        - name: commentId
          in: path
          description: The id of the comment.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
        - name: inline
          in: query
          description: If inline is false, content-disposition header is attachment.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                format: binary
  /comments/{commentId}/files/{fileId}/versions:
    get:
      tags:
        - CommentFiles
      summary: Returns all file versions of the specified comment file.
      description: Returns all file versions of the specified comment file.
      parameters:
        - name: commentId
          in: path
          description: The id of the comment.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/filterby'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileVersion'
    post:
      tags:
        - CommentFiles
      summary: Uploads a new version of the comment file with the specified id.
      description: "Uploads a new version of an comment file.\r\nUse this to upload a file as a form value along with the basic file meta data.\r\nThe file size must not exceed 1GB."
      parameters:
        - name: commentId
          in: path
          description: The id of the comment.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - File
              type: object
              properties:
                File:
                  type: string
                  format: binary
            encoding:
              File:
                style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileVersion'
        '400':
          description: Bad Request
  /comments/{commentId}/files/{fileId}/versions/{versionId}:
    get:
      tags:
        - CommentFiles
      summary: Returns the comment file version with the specified id.
      description: Returns the comment file version with the specified id.
      parameters:
        - name: commentId
          in: path
          description: The id of the comment.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
        - name: versionId
          in: path
          description: The id of the file version.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileVersion'
  /comments/{commentId}/files/{fileId}/versions/{versionId}/download:
    get:
      tags:
        - CommentFiles
      summary: Returns the content of the comment file version with the specified id.
      description: Returns the content of the comment file version with the specified id.
      parameters:
        - name: commentId
          in: path
          description: The id of the comment.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
        - name: versionId
          in: path
          description: The id of the file version.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
  /comments/{commentId}/files/{fileId}/copy:
    post:
      tags:
        - CommentFiles
      summary: Copys the file to a new comment.
      description: Copys the file to a new comment (meta and content).
      parameters:
        - name: commentId
          in: path
          description: The id of the comment.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The model to change the entity information of the file.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileCopyForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FileCopyForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
  /comments/{commentId}/allfiles:
    get:
      tags:
        - CommentFiles
      summary: Returns all files of the project with the specified id.
      description: "Returns all files of the comment with the specified id.\r\nCurrently only allowed in projects comment."
      parameters:
        - name: commentId
          in: path
          description: The id of the comment.
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/filterby'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExtendedFileInfo'
  /comments/{commentId}/files/{fileId}/shareurl:
    get:
      tags:
        - CommentFiles
      summary: Returns a url to share the file.
      description: Returns a url to share the file.
      parameters:
        - name: commentId
          in: path
          description: The id of the comment.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
  /comments/{commentId}/files/{fileId}/changeentity:
    post:
      tags:
        - CommentFiles
      summary: Changes the comment this file belongs to.
      description: "Changes the comment this file belongs to.\r\nSwitch to the specified comment or to a global file\r\nif the 'EntityId' of the model is set to null."
      parameters:
        - name: commentId
          in: path
          description: The id of the comment.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The model to change the entity information of the file.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileEntityForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FileEntityForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
  /companies/{companyId}/delete:
    post:
      tags:
        - Companies
      summary: Deletes the company with the specified id.
      description: |-
        There are several ways to delete a company.
                    Look into the property description of the post model to get detailed information.
                    If the post is executed without a model, the default process 'delete-only-company' will be executed.
                    For the operation 'delete-all-without-timeentries' project-master-data write permissions are required on all projects of the company.
      parameters:
        - name: companyId
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyDeleteForm'
      responses:
        '204':
          description: No Content
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-company-master-data:
        - write
  /companies:
    get:
      tags:
        - Companies
      summary: Returns all companies.
      description: Returns all companies.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/filterby'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-company-master-data:
        - read
    post:
      tags:
        - Companies
      summary: Creates a new company.
      description: Creates a new company.
      requestBody:
        description: The company to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CompanyForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-company-master-data:
        - write
  /companies/{companyId}:
    get:
      tags:
        - Companies
      summary: Returns the company with the specified id.
      description: Returns the company with the specified id.
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-company-master-data:
        - read
    put:
      tags:
        - Companies
      summary: Updates the company with the specified id.
      description: Updates the company with the specified id.
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The new company values.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CompanyForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-company-master-data:
        - write
  /companies/{companyId}/contactinfo:
    get:
      tags:
        - Companies
      summary: Returns the contact infos of the company with the specified id.
      description: Returns the contact infos of the company with the specified id.
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/filterby'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactInfoForCompanies'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-company-master-data:
        - read
    post:
      tags:
        - Companies
      summary: Creates a new contact info for the company with the specified id.
      description: Creates a new contact info for the company with the specified id.
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The contact info to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactInfoForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ContactInfoForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactInfoForCompanies'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-company-master-data:
        - write
  /companies/{companyId}/contactinfo/{contactInfoId}:
    get:
      tags:
        - Companies
      summary: Returns the specified contact info of the company with the specified id.
      description: Returns the specified contact info of the company with the specified id.
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
        - name: contactInfoId
          in: path
          description: The id of the contact info.
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/filterby'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactInfoForCompanies'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-company-master-data:
        - read
    put:
      tags:
        - Companies
      summary: Updates the contact info for the company with the specified id.
      description: Updates the contact info for the company with the specified id.
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
        - name: contactInfoId
          in: path
          description: The id of the contactInfo.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The contact info to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactInfoForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ContactInfoForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactInfoForCompanies'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-company-master-data:
        - write
    delete:
      tags:
        - Companies
      summary: Deletes the contact info of the company with the specified id.
      description: Deletes the contact info of the company with the specified id.
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
        - name: contactInfoId
          in: path
          description: The id of the contact info.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No Content
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-company-master-data:
        - write
  /companies/industries:
    get:
      tags:
        - Companies
      summary: Returns all company industries that are currently in use.
      description: Returns all company industries that are currently in use.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-company-master-data:
        - read
  /companies/{companyId}/files/{fileId}:
    get:
      tags:
        - CompanyFiles
      summary: >-
        Returns the file with the specified id of the company with the specified
        id.
      description: Returns the file metadata of the company with the specified id.
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
    put:
      tags:
        - CompanyFiles
      summary: Updates the metadata of the company file with the specified id.
      description: Updates the metadata of the company file with the specified id.
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The model to update the file with the specified id.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileInfoUpdateForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FileInfoUpdateForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
    delete:
      tags:
        - CompanyFiles
      summary: Deletes the company file with the specified id.
      description: Deletes the metadata and the different versions of the file.
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No Content
  /companies/{companyId}/files:
    get:
      tags:
        - CompanyFiles
      summary: Returns all files of the company with the specified id.
      description: Returns all file metadata of the company with the specified id.
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/filterby'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileInfo'
    post:
      tags:
        - CompanyFiles
      summary: Creates a new company file for the company with the specified id..
      description: "Uploads a new company file for the company with the specified id.\r\nUse this to upload a file as a form value along with the basic file meta data.\r\nThe file size must not exceed 1GB."
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - File
              type: object
              properties:
                File:
                  type: string
                  format: binary
            encoding:
              File:
                style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
        '400':
          description: Bad Request
    delete:
      tags:
        - CompanyFiles
      summary: Deletes the files of the specified company.
      description: Deletes the metadata and the different versions of the files.
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No Content
  /companies/{companyId}/externalfiles:
    post:
      tags:
        - CompanyFiles
      summary: Endpoint to batch create external files without uploading.
      description: "Endpoint to create file infos with batch operation.\r\nCreated file infos don't have a version."
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: List of file forms.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ExternalFileForm'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ExternalFileForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
  /companies/{companyId}/files/byurl:
    post:
      tags:
        - CompanyFiles
      summary: Uploads a new file by providing an url.
      description: "The file needs to be a public available url.\r\nThe file size must not exceed 100MB."
      parameters:
        - name: companyId
          in: path
          description: The id of the company the file is linked to.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The url, name and description of the file.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilePostForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FilePostForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
  /companies/{companyId}/files/{fileId}/download:
    get:
      tags:
        - CompanyFiles
      summary: Returns the content of the company file with the specified id.
      description: "Returns the content of the company file. Uses the latest file version.\r\nIf the company file is an image and the width and height are set,\r\nthe image will resized before it is returned."
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
        - name: width
          in: query
          description: Set width to resize.
          schema:
            type: number
            format: double
        - name: height
          in: query
          description: Set height to resize.
          schema:
            type: number
            format: double
        - name: crop
          in: query
          description: Whether to crop the image when resizing it.
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                format: binary
  /companies/{companyId}/files/{fileId}/pdf:
    get:
      tags:
        - CompanyFiles
      summary: "Returns the content of the file with the specified id as pdf.\r\ntype or conversion not possible."
      description: Returns the content of the company file. Uses the latest file version.
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
        - name: inline
          in: query
          description: If inline is false, content-disposition header is attachment.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                format: binary
  /companies/{companyId}/files/{fileId}/versions:
    get:
      tags:
        - CompanyFiles
      summary: Returns all file versions of the specified company file.
      description: Returns all file versions of the specified company file.
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/filterby'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileVersion'
    post:
      tags:
        - CompanyFiles
      summary: Uploads a new version of the company file with the specified id.
      description: "Uploads a new version of an company file.\r\nUse this to upload a file as a form value along with the basic file meta data.\r\nThe file size must not exceed 1GB."
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - File
              type: object
              properties:
                File:
                  type: string
                  format: binary
            encoding:
              File:
                style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileVersion'
        '400':
          description: Bad Request
  /companies/{companyId}/files/{fileId}/versions/{versionId}:
    get:
      tags:
        - CompanyFiles
      summary: Returns the company file version with the specified id.
      description: Returns the company file version with the specified id.
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
        - name: versionId
          in: path
          description: The id of the file version.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileVersion'
  /companies/{companyId}/files/{fileId}/versions/{versionId}/download:
    get:
      tags:
        - CompanyFiles
      summary: Returns the content of the company file version with the specified id.
      description: Returns the content of the company file version with the specified id.
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
        - name: versionId
          in: path
          description: The id of the file version.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
  /companies/{companyId}/files/{fileId}/copy:
    post:
      tags:
        - CompanyFiles
      summary: Copys the file to a new company.
      description: Copys the file to a new company (meta and content).
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The model to change the entity information of the file.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileCopyForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FileCopyForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
  /companies/{companyId}/allfiles:
    get:
      tags:
        - CompanyFiles
      summary: Returns all files of the project with the specified id.
      description: "Returns all files of the company with the specified id.\r\nCurrently only allowed in projects company."
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/filterby'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExtendedFileInfo'
  /companies/{companyId}/files/{fileId}/shareurl:
    get:
      tags:
        - CompanyFiles
      summary: Returns a url to share the file.
      description: Returns a url to share the file.
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
  /companies/{companyId}/files/{fileId}/changeentity:
    post:
      tags:
        - CompanyFiles
      summary: Changes the company this file belongs to.
      description: "Changes the company this file belongs to.\r\nSwitch to the specified company or to a global file\r\nif the 'EntityId' of the model is set to null."
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          description: The id of the file.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The model to change the entity information of the file.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileEntityForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FileEntityForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
  /companies/tags:
    get:
      tags:
        - CompanyTags
      summary: Returns all tags that are currently in use.
      description: Returns all tags that are currently in use ordered by count.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BaseTagModel'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /companies/{companyId}/tags:
    get:
      tags:
        - CompanyTags
      summary: Returns the tags of the companies with the specified id.
      description: "Returns the tags of the company with the specified id ordered by name.\r\nTo read the tags the user needs 'read' permissions on the specified company."
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BaseTagModel'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /companies/{companyId}/addtags:
    post:
      tags:
        - CompanyTags
      summary: Adds a batch of new tags to the company with the specified id.
      description: "The request fails if one of the tags is invalid (e.g. empty or duplicate).\r\nTo create the tags the user needs 'write' permissions on the specified company."
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The model to add tags.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TagForm'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TagForm'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BaseTagModel'
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /companies/{companyId}/updatetags:
    post:
      tags:
        - CompanyTags
      summary: Updates a tag to the company with the specified id.
      description: >-
        To update the tag the user needs 'write' permissions on the specified
        entity.
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: The model to add tags.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagUpdateForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TagUpdateForm'
      responses:
        '204':
          description: No Content
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /companies/{companyId}/deletetags:
    post:
      tags:
        - CompanyTags
      summary: Removes tags from the company with the specified id.
      description: "Removes tags from the project with the specified id.\r\nTo delete the tags the user needs 'write' permissions on the specified company.\r\nReturns 204 NoContent if all tags have been removed successfully.\r\nReturns 207 MultiStatus if at least one tag could not be removed, including the reasons."
      parameters:
        - name: companyId
          in: path
          description: The id of the company.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The model to remove the tag.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DeleteTagForm'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DeleteTagForm'
      responses:
        '204':
          description: No Content
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /companies/deletetags:
    post:
      tags:
        - CompanyTags
      summary: Removes tag from all entities.
      description: "Removes tag from all projects.\r\nTo delete the tags the user needs 'write' permissions on the specified entity.\r\nReturns 204 NoContent if tag has been removed successfully."
      requestBody:
        description: The model to remove the tag.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteTagForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DeleteTagForm'
      responses:
        '204':
          description: No Content
      security:
        - oauth2:
            - full_access
      x-api-versions:
        - v1
      x-access-any: 'true'
  /me/dashboards:
    get:
      tags:
        - Dashboards
      summary: Returns the dashboards of the current user.
[...]
